---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/header.jpg
  actions:
    - label: "Download"
      url: "/download/"
intro:
  - excerpt: 'tinyMediaManager is a media management tool written in Java/Swing. It is written to provide metadata for the Kodi Media Center (formerly known as XBMC), MediaPortal and Plex media server. Due to the fact that it is written in Java, tinyMediaManager will run on Windows, Linux and macOS (and possible more OS).'
feature_row:
  - title: "Download"
    excerpt: "Get the latest version of tinyMediaManager for **Windows**, **Linux** and **Mac OSX**"
    url: "/download/"
    btn_label: "Download"
    btn_class: "btn--success"
  - title: "Features"
    excerpt: "tinyMediaManager is a full featured media manager to organize and clean up your media library."
    url: "/features/"
    btn_label: "Features ›"
    btn_class: "btn--primary"
  - title: "Screenshots"
    excerpt: "See some screenshots of tinyMediaManager in action."
    url: "/screenshots/"
    btn_label: "Screenshots ›"
    btn_class: "btn--primary"
feature_row_movie:
  - image_path: /images/splash/movies.png
    alt: "Movie Management"
    title: "Movie Management"
    excerpt: "<ul><li>Get data from <b>TheMovieDB.org</b>, <b>Imdb.com</b>, <b>Ofdb.de</b>, <b>HD-Trailers.net</b>, ...</li><li>Create NFO for use with Kodi (XBMC) and MediaPortal</li><li>Automatically rename files and folders as you like</li></ul>"
feature_row_movie_set:
  - image_path: /images/splash/moviesets.png
    alt: "Movie Set Management"
    title: "Movie Set Management"
    excerpt: "<ul><li>Organize movies into collections</li><li>Set artwork for moviesets</li><li>Support NFO tags for moviesets for <b>Kodi (XBMC)</b> and <b>MediaPortal</b></li></ul>"
feature_row_tv_show:
  - image_path: /images/splash/tvshows.png
    alt: "TV Show Management"
    title: "TV Show Management"
    excerpt: "<ul><li>find TV shows and episodes in subdirectories - powerful episode/season detection</li><li>Get data from <b>TheTvDB.com</b>, <b>TheMovieDB.org</b>, <b>Imdb.com</b></li><li>Create NFO for use with <b>Kodi (XBMC)</b></li></ul>"
feature_row_os:
  - image_path: /images/splash/os.png
    alt: "Multi OS support"
    title: "Multi OS support"
    excerpt: "<ul><li>Windows</li><li>MacOS</li><li>Linux</li></ul>"
feature_row_updates:
  - image_path: /images/splash/updates.png
    alt: "Automatic updates"
    title: "Automatic updates"
    excerpt: "<ul><li>Automatic updates to always stay up to date</li></ul>"
feature_row_services:
  - image_path: /images/splash/gitlab.png
    alt: "Hosted and built by GitLab"
    excerpt: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted and built by [GitLab](https://www.gitlab.com)"
  - image_path: /images/splash/weblate.png
    alt: "Translated via Weblate"
    excerpt: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Translated via [Weblate](https://weblate.org/)"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_movie" type="left"%}

{% include feature_row id="feature_row_movie_set" type="right"%}

{% include feature_row id="feature_row_tv_show" type="left"%}

{% include feature_row id="feature_row_updates" type="right"%}

{% include feature_row %}

{% unless site.posts == empty %}
  <div class="splash__post__wrapper">
    <h2>New Blog Articles</h2>
    <div class="splash__post__item">
        {% for post in site.posts limit:1 %}
        {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
        <h2><a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a></h2>
        <div class="archive__item-excerpt">
          <p>
            {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}
            {% elsif post.teaser %}{{ post.teaser | strip_html | escape }}
            {% else %}{{ post.excerpt | truncatewords:75 }}
            {% endif %}
          </p>
        </div>
        <a href="{{ post.url | relative_url }}" rel="permalink" class="btn btn--primary"">Read more ›</a>
        {% endfor %}
    </div>


    <div class="splash__post__item">
      <p><strong>More Articles</strong></p>
      <ul class="splash__post__nav">
      {% for post in site.posts limit:5 offset:1 %}
        <li><a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <a href="/blog/" rel="permalink" class="btn btn--primary"">more ›</a>
    </div>
  </div>
{% endunless %}

{% include feature_row id="feature_row_services" %}
